
@{
    ViewBag.Title = "Index";
}

<div id="detailList" class="container">
    <h2>List Of Contact Details</h2>


    <table id="grid">
       
    </table>
    <div id="pager"></div> <!--Pager of JQGrid-->
</div>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/redmond/jquery-ui.css">

<script src="~/Scripts/myGrid.js"></script>
